ip access-list standard {{ name }}
{% for sequence in sequences %}
{% if sequence.append_option_to_end is defined %}
{% set append_option_to_end = sequence.append_option_to_end %}
{% else %}
{% set append_option_to_end = None %}
{% endif %}
{% if sequence.action == 'remark' %}
 {{ sequence.sequence }} {{ sequence.action }} {{ sequence.remark }}
{% else %}
 {{ sequence.sequence }} {{ sequence.action }} {{ sequence.source }}{{ append_option_to_end }}
{% endif %}
{% endfor %}