# These are the libraries required to run your app
# They DO NOT include libraries needed to develop or test our app
#
{% if cookiecutter.use_niquests == 'y' %}niquests{% endif %}
{% if cookiecutter.use_niquests == 'y' %}urllib3>=2.7.0{% endif %}
{% if cookiecutter.use_pydantic == 'y' %}pydantic{% endif %}
